{% extends "base.html" %} {% block content %}
<style>
  input,
  #output {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
  }
  #output {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    min-height: 150px;
  }
</style>
<div
  style="
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <form method="post" action="{% url 'handle_search_query' %}">
    {% csrf_token %}
    <input
      style="margin-top: 0px"
      type="text"
      id="inputText"
      name="inputText"
      placeholder="Enter your text here"
    />
    <button type="submit" class="govuk-button">Submit</button>
  </form>
  <div id="output">{{ question }}</div>
</div>
<div class="audio_output">
  <button type="submit" class="govuk-button">Listen</button>
</div>

{% endblock %}
